
body
{
background-image:url("/home/6CSE1/Downloads/images.png");
background-repeat:repeat-x;
background-attachment:fixed;

background-color:linen;

}

h1,h2
{
color:maroon;
margin-left:40px;
letter-spacing:2px;
direction:utl;
word-spacing:10px;
text-align:center;
}

p.warning
{
color:blue;
margin-right:40px;
font-size:40px;
font-style:italic;
font-weight:bold;
font-weight:50px;
font-family:georgia,garamond,serif;
font-stretch:ultra-expanded;
}


p.new
{
color:red;
margin-right:40px;
font-size:30px;
font-style:italic;
font-weight:bold;
font-weight:50px;
font-family:georgia,garamond,serif;
font-stretch:ultra-expanded;
}


